body {
  font-size: 30px;
}
h1 {
  color: pink;
}
button {
  background-color: pink;
  border: 3px solid grey;
  border-radius: 5%;
}
p {
  border: 2px solid pink;
  border-radius: 5%;
}
.bigger {
  font-size: 70px;
}

.pink {
  color: pink;
}

.slide {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}
.underline {
  text-decoration: underline wavy pink;
}
.upperCase {
  text-transform: uppercase;
}
.blink {
  text-decoration: blink;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(359deg);}
}
