<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title></title>
    <script src="angular.min.js"></script>
  </head>
  <body ng-app="chattyApp">
    <section ng-controller="talk">
      <button ng-click="word()">Word</button>
      <button ng-click="wordDec()">Decorated word</button>
      <button ng-click="phrase()">Phrase</button>
      <button ng-click="phraseDec()">Decorated phrase</button>
      <p display-word ng-repeat="word in madness" ></p>
    </section>
    <script src="ang.js"></script>
  </body>
</html>
